body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    background-color: #f4f4f4;
    
}

header {
    background-color: #ad1c2a;
    color: rgb(218, 230, 44);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header h2 {
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: 300;
}

/* header ul {
    list-style: none;
    padding: 0;
} */

header ul li {
    display: inline;
    margin:0 15px;
}

header ul li a {
    color: rgb(218, 230, 44);
    text-decoration: none;
    font-size: 1.2em;
}

header ul li a:hover {
    text-decoration: underline;
}

p {
    padding:0 20px;
    line-height: 1.6;
}

form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-shadow:0 0 10px;
    border-radius: 8px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color:#ad1c2a;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}


/* form input[type="submit"]:hover {
    background-color: #45a049;
} */
    

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #ad1c2a;
    color: white;
}


table tr:hover {
    background-color: #ddd;
}

h3 {
    text-align: center;
    margin-top: 40px;
    font-size: 1.8em;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

a {
    color: #ad1c2a;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} 
